*.dll
*.pdb
*.suo
/CSLightStudio/windows/bin
/CSLightStudio/windows/CSEvilTestor/obj
/CSLightStudio/windows/CSEvilTestor/bin
/CSLightStudio/windows/CSLightTestor/obj
/CSLightStudio/core/CSLightEvil/obj
/CSLightStudio/unity/MonoBehaviour/Library
/CSLightStudio/unity/MonoBehaviour/obj
/CSLightStudio/unity/MonoBehaviour/*.csproj
/CSLightStudio/unity/MonoBehaviour/*.sln
/CSLightStudio/unity/MonoBehaviour/*.suo
/CSLightStudio/unity/MonoBehaviour/Temp
/CSLightStudio/unity/MonoBehaviour/Assembly-CSharp.csproj
/CSLightStudio/unity/MonoBehaviour/Assembly-CSharp-vs.csproj
/CSLightStudio/unity/MonoBehaviour/MonoBehaviour.sln
/CSLightStudio/unity/MonoBehaviour/MonoBehaviour-csharp.sln
/CSLightStudio/unity/MonoBehaviour/MonoBehaviour-csharp.v12.suo
/CSLightStudio/unity/ScriptHelloWorld/*.sln
/CSLightStudio/unity/ScriptHelloWorld/*.suo
/CSLightStudio/unity/ScriptHelloWorld/*.csproj
/CSLightStudio/unity/ScriptHelloWorld/Library
/CSLightStudio/unity/ScriptHelloWorld/obj
/CSLightStudio/unity/Framework/obj
/CSLightStudio/unity/Framework/Library
/CSLightStudio/unity/Framework/Temp
/CSLightStudio/unity/Framework/*.csproj
/CSLightStudio/unity/Framework/*.sln
/CSLightStudio/unity/Framework/*.suo
/CSLightStudio/unity/FrameworkMaster/Unity/obj
/CSLightStudio/unity/FrameworkMaster/Unity/Library
/CSLightStudio/unity/FrameworkMaster/Mode1Script/bin
/CSLightStudio/unity/FrameworkMaster/Mode1Script/obj
/CSLightStudio/unity/FrameworkMaster/Mode2Script/obj
/CSLightStudio/unity/FrameworkMaster/Mode2Script/bin
/CSLightStudio/windows/debugger/CSLightDebugger_Wpf/obj
/CSLightStudio/unity/FrameworkWithNGUI/*.csproj
/CSLightStudio/unity/FrameworkWithNGUI/*.sln
/CSLightStudio/unity/FrameworkWithNGUI/*.suo
/CSLightStudio/unity/FrameworkWithNGUI/Library
/CSLightStudio/unity/FrameworkWithNGUI/obj
CSLightStudio/unity/CSLightEvil35.dll
CSLightStudio/unity/CSLightEvil35.dll
CSLightStudio/unity/CSLightEvil35.dll
/CSLightStudio/unity/perfermance/ttw
/CSLightStudio/unity/perfermance/Library
/CSLightStudio/unity/perfermance/obj
/CSLightStudio/unity/perfermance/tt_Data
/CSLightStudio/unity/perfermance/*.csproj
/CSLightStudio/unity/perfermance/*.sln
/CSLightStudio/unity/perfermance/*.suo
/CSLightStudio/unity/perfermance/*.exe
