*.dll
*.pdb
*.suo
/CSLightStudio/windows/bin
/CSLightStudio/windows/CSEvilTestor/obj
/CSLightStudio/windows/CSEvilTestor/bin
/CSLightStudio/windows/CSLightTestor/obj
/CSLightStudio/core/CSLightEvil/obj
/CSLightStudio/unity/MonoBehaviour/Library
/CSLightStudio/unity/MonoBehaviour/obj
/CSLightStudio/unity/MonoBehaviour/*.csproj
/CSLightStudio/unity/MonoBehaviour/*.sln
/CSLightStudio/unity/MonoBehaviour/*.suo
/CSLightStudio/unity/MonoBehaviour/Temp
/CSLightStudio/unity/MonoBehaviour/Assembly-CSharp.csproj
/CSLightStudio/unity/MonoBehaviour/Assembly-CSharp-vs.csproj
/CSLightStudio/unity/MonoBehaviour/MonoBehaviour.sln
/CSLightStudio/unity/MonoBehaviour/MonoBehaviour-csharp.sln
/CSLightStudio/unity/MonoBehaviour/MonoBehaviour-csharp.v12.suo
/CSLightStudio/unity/ScriptHelloWorld/*.sln
/CSLightStudio/unity/ScriptHelloWorld/*.suo
/CSLightStudio/unity/ScriptHelloWorld/*.csproj
/CSLightStudio/unity/ScriptHelloWorld/Library
/CSLightStudio/unity/ScriptHelloWorld/obj
